In [85]:
import psycopg2

In [86]:
#conn = psycopg2.connect("host='localhost' dbname='postgres' user='postgres' password='password'")
#conn.autocommit = True
#cursor = conn.cursor()
#cursor.execute('CREATE DATABASE baseball')
#conn.autocommit = False

In [87]:
conn = psycopg2.connect("host='localhost' dbname='baseball' user='postgres' password='password'")
conn.autocommit = True
c = conn.cursor()

In [54]:
sql = '''
DROP TABLE IF EXISTS ml_odds;
CREATE TABLE if not exists ml_odds (
    ml_odd_key           BIGSERIAL PRIMARY KEY,
    game_id        varchar(20),
    team           varchar(3),
    final_flag     boolean,
    consensus      decimal,
    opening        integer,
    pin            integer,
    fiv            integer,
    bet            integer,
    her            integer,
    best           integer,
    created_at     timestamp
);
'''
c.execute(sql)

In [55]:
sql = '''
DROP TABLE IF EXISTS tot_odds;
CREATE TABLE if not exists tot_odds (
    tot_odd_key           BIGSERIAL PRIMARY KEY,
    game_id        varchar(20),
    team           varchar(3),
    final_flag     boolean,
    consensus      decimal,
    opening_line   decimal,
    opening_odds   integer,
    pin_line       decimal,
    pin_odds       integer,
    fiv_line       decimal,
    fiv_odds       integer,
    bet_line       decimal,
    bet_odds       integer,
    her_line       decimal,
    her_odds       integer,
    created_at     timestamp
);
'''
c.execute(sql)

In [56]:
sql = '''
DROP TABLE IF EXISTS rl_odds;
CREATE TABLE if not exists rl_odds (
    rl_odd_key           BIGSERIAL PRIMARY KEY,
    game_id        varchar(20),
    team           varchar(3),
    final_flag     boolean,
    consensus      decimal,
    opening_line   decimal,
    opening_odds   integer,
    pin_line       decimal,
    pin_odds       integer,
    fiv_line       decimal,
    fiv_odds       integer,
    bet_line       decimal,
    bet_odds       integer,
    her_line       decimal,
    her_odds       integer,
    created_at     timestamp
);
'''
c.execute(sql)

In [57]:
sql = '''
DROP TABLE IF EXISTS ff_ml_odds;
CREATE TABLE if not exists ff_ml_odds (
    ff_ml_odd_key           BIGSERIAL PRIMARY KEY,
    game_id        varchar(20),
    team           varchar(3),
    final_flag     boolean,
    consensus      decimal,
    opening        integer,
    pin            integer,
    fiv            integer,
    bet            integer,
    her            integer,
    best           integer,
    created_at     timestamp
);
'''
c.execute(sql)

In [58]:
sql = '''
DROP TABLE IF EXISTS ff_rl_odds;
CREATE TABLE if not exists ff_rl_odds (
    ff_rl_odd_key           BIGSERIAL PRIMARY KEY,
    game_id        varchar(20),
    team           varchar(3),
    final_flag     boolean,
    consensus      decimal,
    opening_line   decimal,
    opening_odds   integer,
    pin_line       decimal,
    pin_odds       integer,
    fiv_line       decimal,
    fiv_odds       integer,
    bet_line       decimal,
    bet_odds       integer,
    her_line       decimal,
    her_odds       integer,
    created_at     timestamp
);
'''
c.execute(sql)

In [59]:
sql = '''
DROP TABLE IF EXISTS ff_tot_odds;
CREATE TABLE if not exists ff_tot_odds (
    ff_tot_odd_key           BIGSERIAL PRIMARY KEY,
    game_id        varchar(20),
    team           varchar(3),
    final_flag     boolean,
    consensus      decimal,
    opening_line   decimal,
    opening_odds   integer,
    pin_line       decimal,
    pin_odds       integer,
    fiv_line       decimal,
    fiv_odds       integer,
    bet_line       decimal,
    bet_odds       integer,
    her_line       decimal,
    her_odds       integer,
    created_at     timestamp
);
'''
c.execute(sql)

In [60]:
sql = '''
DROP TABLE IF EXISTS bullpens;
CREATE TABLE if not exists bullpens (
    bullpen_key           BIGSERIAL PRIMARY KEY,
    game_id         varchar(20),
    team            varchar(3),
    player          varchar(50),
    status          varchar(10),
    inn_days_one    integer,
    pit_days_one    integer,
    inn_days_two    integer,
    pit_days_two    integer,
    inn_days_three  integer,
    pit_days_three  integer,
    inn_days_four   integer,
    pit_days_four   integer,
    inn_days_five   integer,
    pit_days_five   integer,
    created_at     timestamp
)
'''
c.execute(sql)

In [88]:
sql = '''
DROP TABLE IF EXISTS lineups;
CREATE TABLE IF NOT EXISTS lineups (
    lineup_key           BIGSERIAL PRIMARY KEY,
    game_id            varchar(20),
    final_flag         boolean,
    team               varchar(20),
    home_away_flag     varchar(1),
    hit_one_name           varchar(50),
    hit_one_pos            varchar(2),
    hit_one_hand           varchar(1),
    hit_two_name       varchar(50),
    hit_two_pos        varchar(2),
    hit_two_hand       varchar(1),
    hit_three_name         varchar(50),
    hit_three_pos          varchar(2),
    hit_three_hand         varchar(1),
    hit_four_name      varchar(50),
    hit_four_pos       varchar(2),
    hit_four_hand      varchar(1),
    hit_five_name          varchar(50),
    hit_five_pos           varchar(2),
    hit_five_hand          varchar(1),
    hit_six_name       varchar(50),
    hit_six_pos        varchar(2),
    hit_six_hand       varchar(1),
    hit_seven_name         varchar(50),
    hit_seven_pos          varchar(2),
    hit_seven_hand         varchar(1),
    hit_eight_name     varchar(50),
    hit_eight_pos      varchar(2),
    hit_eight_hand     varchar(1),
    hit_nine_name          varchar(50),
    hit_nine_pos           varchar(2),
    hit_nine_hand          varchar(1),
    created_at         timestamp
)
'''
c.execute(sql)

In [62]:
sql = '''
DROP TABLE IF EXISTS umpires;
CREATE TABLE IF NOT EXISTS umpires (
    ump_key           BIGSERIAL PRIMARY KEY,
    game_id           varchar(20),
    final_flag        boolean,
    hp_ump            varchar(50),
    fb_ump            varchar(50),
    sb_ump            varchar(50),
    tb_ump            varchar(50),
    created_at        timestamp
)
'''
c.execute(sql)

In [63]:
sql = '''
DROP TABLE IF EXISTS starting_pitchers;
CREATE TABLE IF NOT EXISTS starting_pitchers (
    sp_key       BIGSERIAL PRIMARY KEY,
    game_id      varchar(20),
    final_flag   boolean,
    name         varchar(50),
    fg_id        varchar(6),
    team         varchar(3),
    ip           decimal,
    throws       varchar(1),
    era          decimal,
    fip_z        decimal,
    fip_s        decimal,
    kwera        decimal,
    siera        decimal,
    xfip         decimal,
    created_at   timestamp
)
'''
c.execute(sql)

In [89]:
conn.close()