In [37]:
import psycopg2

In [38]:
#conn = psycopg2.connect("host='localhost' dbname='postgres' user='postgres' password='password'")
#conn.autocommit = True
#cursor = conn.cursor()
#cursor.execute('CREATE DATABASE baseball')
#conn.autocommit = False

In [39]:
conn = psycopg2.connect("host='localhost' dbname='baseball' user='postgres' password='password'")
conn.autocommit = True
c = conn.cursor()

In [40]:
sql = '''
DROP TABLE IF EXISTS ml_odds;
CREATE TABLE if not exists ml_odds (
    game_id        varchar(20),
    final_flag     boolean,
    consensus      decimal,
    opening        integer,
    pin            integer,
    fiv            integer,
    bet            integer,
    her            integer,
    best           integer
);
'''
c.execute(sql)

In [41]:
sql = '''
DROP TABLE IF EXISTS tot_odds;
CREATE TABLE if not exists tot_odds (
    game_id        varchar(20),
    final_flag     boolean,
    consensus      decimal,
    opening        integer,
    pin            integer,
    fiv            integer,
    bet            integer,
    her            integer,
    best           integer
);
'''
c.execute(sql)

In [42]:
sql = '''
DROP TABLE IF EXISTS rl_odds;
CREATE TABLE if not exists rl_odds (
    game_id        varchar(20),
    final_flag     boolean,
    consensus      decimal,
    opening        integer,
    pin            integer,
    fiv            integer,
    bet            integer,
    her            integer,
    best           integer
);
'''
c.execute(sql)

In [43]:
sql = '''
DROP TABLE IF EXISTS ff_ml_odds;
CREATE TABLE if not exists ff_ml_odds (
    game_id        varchar(20),
    final_flag     boolean,
    consensus      decimal,
    opening        integer,
    pin            integer,
    fiv            integer,
    bet            integer,
    her            integer,
    best           integer
);
'''
c.execute(sql)

In [44]:
sql = '''
DROP TABLE IF EXISTS ff_rl_odds;
CREATE TABLE if not exists ff_rl_odds (
    game_id        varchar(20),
    final_flag     boolean,
    consensus      decimal,
    opening        integer,
    pin            integer,
    fiv            integer,
    bet            integer,
    her            integer,
    best           integer
);
'''
c.execute(sql)

In [45]:
sql = '''
DROP TABLE IF EXISTS ff_tot_odds;
CREATE TABLE if not exists ff_tot_odds (
    game_id        varchar(20),
    final_flag     boolean,
    consensus      decimal,
    opening        integer,
    pin            integer,
    fiv            integer,
    bet            integer,
    her            integer,
    best           integer
);
'''
c.execute(sql)

In [6]:
sql = '''
DROP TABLE IF EXISTS bullpens;
CREATE TABLE if not exists bullpens (
    game            date,
    final_flag      boolean,
    team            varchar(20),
    player          varchar(50),
    inn_days_one    integer,
    pit_days_one    integer,
    inn_days_two    integer,
    pit_days_two    integer,
    inn_days_three  integer,
    pit_days_three  integer,
    inn_days_four   integer,
    pit_days_four   integer,
    inn_days_five   integer,
    pit_days_five   integer,
    status          varchar(50)
)
'''
c.execute(sql)

In [7]:
sql = '''
DROP TABLE IF EXISTS lineups;
CREATE TABLE IF NOT EXISTS lineups (
    game_id            varchar(31),
    final_flag         boolean,
    team               varchar(20),
    home_away_flag     varchar(1),
    hit_one_name         varchar(50),
    hit_two_name         varchar(50),
    hit_three_name       varchar(50),
    hit_four_name        varchar(50),
    hit_five_name        varchar(50),
    hit_six_name         varchar(50),
    hit_seven_name       varchar(50),
    hit_eight_name       varchar(50),
    hit_nine_name        varchar(50),
    hit_one_pos        varchar(2),
    hit_two_pos        varchar(2),
    hit_three_pos      varchar(2),
    hit_four_pos       varchar(2),
    hit_five_pos       varchar(2),
    hit_six_pos        varchar(2),
    hit_seven_pos      varchar(2),
    hit_eight_pos      varchar(2),
    hit_nine_pos       varchar(2),
    hit_one_hand         varchar(1),
    hit_two_hand         varchar(1),
    hit_three_hand       varchar(1),
    hit_four_hand        varchar(1),
    hit_five_hand        varchar(1),
    hit_six_hand         varchar(1),
    hit_seven_hand       varchar(1),
    hit_eight_hand       varchar(1),
    hit_nine_hand        varchar(1)
)
'''
c.execute(sql)

In [8]:
sql = '''
DROP TABLE IF EXISTS umpires;
CREATE TABLE IF NOT EXISTS umpires (
    ump_key           BIGSERIAL PRIMARY KEY,
    game_id           varchar(31),
    final_flag        boolean,
    hp_ump            varchar(50),
    fb_ump            varchar(50),
    sb_ump            varchar(50),
    tb_ump            varchar(50)
)
'''
c.execute(sql)

In [9]:
sql = '''
DROP TABLE IF EXISTS starting_pitchers;
CREATE TABLE IF NOT EXISTS starting_pitchers (
    sp_key          BIGSERIAL PRIMARY KEY,
    game_id         varchar(31),
    final_flag      boolean,
    name            varchar(50),
    
    ,dat[1]
    ,ip
    ,throws
    ,era
    ,ZiPSFIP
    ,SteamerFIP
    ,kwERA
    ,siera
    ,xfip
)
'''
c.execute(sql)

In [46]:
conn.close()